# .env – secrets, clés, etc.
.env
*.env.local
*.env.*.local

# .NET / VSC
.vs/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.log
*.tlog
*.user
*.suo
*.rsuser
*.ide/
*.cache
*.pidb
*.pdb
*.ipdb
*.coverage
*.coveragexml
*.nupkg
*.snupkg
artifacts/
BenchmarkDotNet.Artifacts/
ScaffoldingReadMe.txt
.tye/
.publishsettings
*.pubxml
*.publishproj

# Serilog (on garde le dossier mais pas les fichiers)
logs/**
!logs/.gitkeep

# SQLite
*.db
*.db-shm
*.db-wal
Data/**/*.db

# Migrations
[Mm]igrations/
**/[Mm]igrations/